.user-count-box {
    background-color: #149da1; /* Background color */
    display: flex;
    width: 300px;
    height: 300px;
    color: #ffffff; /* Text color */
    text-align: center; /* Center align text */
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding inside each container */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-count-box h2 {
    margin-bottom: 1rem; /* Space below the title */
  }
  
  .user-count-box p {
    font-size: 2rem; /* Larger font size for the user count */
    font-weight: bold; /* Optional: Bold font for emphasis */
  }
  